/*
!/migration/
!/middleware/
!/model/
!/tests/
!/.env.example
!/.gitignore
!/.gitlab-ci.yml
!/.gitlab/
!/docker-compose.yml
!/Dockerfile
!/go.mod
!/go.sum
!/environment.go
!/main.go
!/route_protection.go
!/README.md
!/LICENSE
!/kubernetes-deploy*.yml
!/magic.py
!/magic-agam.py